@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Unica+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: transparent;
}
* > * {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: transparent;
}

.bg-gradient-blue {
  background: linear-gradient(
    90deg,
    rgba(18, 10, 68, 0.96) 20.21%,
    #597dfe 82.94%
  );
}

.bg-gradient-pink {
  background: linear-gradient(
    90deg,
    rgba(54, 32, 189, 0.24) 20.21%,
    rgba(219, 75, 255, 0.22) 82.94%
  );
}

.btn-gradient {
  background: linear-gradient(
    270deg,
    #903aff 0%,
    #d434fe 56.42%,
    #ff26b9 99.99%,
    #fe34b9 100%
  );
}

body {
  background: #150e28;
  color: white;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.scrolling-header {
  background-color: #150e2879;
  z-index: 1000;
  backdrop-filter: blur(2px);
}

.btn {
  @apply rounded-md py-1.5 min-w-[58px] min-h-[20px] lg:py-3 lg:min-h-[24px] lg:min-w-[157px] lg:text-base cursor-pointer px-5 flex items-center justify-center font-semibold text-xs;
}
.btn:hover,
.icon:hover {
  @apply scale-95 duration-200;
}
.btn:active,
.icon:active {
  @apply scale-100 duration-200;
}

.link:hover {
  background-image: linear-gradient(270deg, #903aff 0%, #fe34b9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.3s ease;
}

/* Animations */
.glitch {
  animation: glitch 7s linear infinite;
}
.globe-glitch {
  animation: glitch 4s linear infinite;
}
.float {
  animation: float 3s linear infinite;
}

@keyframes glitch {
  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%,
  60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

.glitch:before,
.glitch:after {
  content: attr(title);
  position: absolute;
  left: 0;
}

.glitch:before {
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {
  2%,
  64% {
    transform: translate(2px, -2px);
  }
  4%,
  60% {
    transform: translate(-2px, 2px);
  }
  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}

.glitch:after {
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom {
  2%,
  64% {
    transform: translate(-2px, 0);
  }
  4%,
  60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}

/* 
 */
/* @import url("https://fonts.googleapis.com/css?family=Exo:400,700"); */

/* body {
  font-family: "Exo", sans-serif;
} */

/* .context {
  width: 100%;
  position: absolute;
  top: 50vh;
}

.context h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
} */

/* .area { */
/* background: #120a44; */
/* background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8); */
/* width: 100%;
  height: 100vh; */
/*  */
.circles {
  z-index: -10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #db4bff50;
  animation: animate 14s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 14px;
  height: 14px;
  animation-delay: 2s;
  animation-duration: 10s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 14px;
  height: 14px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 14px;
  height: 14px;
  animation-delay: 0s;
  animation-duration: 10s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 15px;
  height: 15px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 10px;
  height: 10px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 10px;
  height: 10px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 20px;
  height: 20px;
  animation-delay: 15s;
  animation-duration: 30s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 15px;
  height: 15px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    opacity: 0;
    transform: scale(0.7);
    border-radius: 50%;
  }
}

@keyframes float {
  0% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(0px);
  }
  50% {
    /* box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2); */
    transform: translatey(-15px);
  }
  100% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(0px);
  }
}
